@model Team

@{
    ViewData["Title"] = "Create";
    Layout = "~/Backend/Home/_Layout.cshtml";
}

<h1>Create</h1>

<div class="row">  
    <div class="card-body">
        <div class="basic-form">
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="form-row">
                            <input type="hidden" class="form-control" id="PetID" placeholder="Id" />
                            <div class="form-group col-md-6">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Description">Some Description</label>
                                <input asp-for="Description" type="text" class="form-control" placeholder="Description" required>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Title">Team Title</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title" required>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="Bio">Bio</label>
                                <input asp-for="Bio" type="text" class="form-control" placeholder="Bio" required>
                                <span asp-validation-for="Bio" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="CreatedAt">Date</label>
                                <input asp-for="CreatedAt" name="datepicker" class="datepicker-default form-control picker__input" id="datepicker" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker_root">
                                <span asp-validation-for="CreatedAt" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="ImageFile">Upload Image</label>
                                <div class="input-group mb-3">
                                    <img src="~/Images/default.png" style="margin:10px" height="100" width="100" id="imagePreview" />
                                    <input asp-for="ImageFile" type="file" accept="image/jpeg, image/png" onchange="showImagePreview(this,document.getElementById('imagePreview'))" />
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="input-group mb-3">
                                    <div id="HiddenDiv" style="visibility: hidden;">
                                        <input asp-for="ImageUrl" value="" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
